@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #fc3bf2;
  --color-primary-disabled: #7d0096;
  --color-primary-opacity: #d400ff8c;
  --color-secondary: #ffdb8a;
  --color-overlay: #14151a;
  --color-overlay-dark: #0a0a0a;
  --color-footer: #171717;
  --color-overlay-border: #111930;
  --color-terciary: #00ff19;
  --color-green-button: #47e439;
  --color-gold: #c4ac6a;
  --color-bronze: #944d24;
  --color-gray-text: #b8b8b8;
  --color-white: white;
  --color-overlay-opacity: rgba(39, 39, 39, 0.514);
  --color-alert-success: #37a211;
  --color-alert-error: #b52423;
  --color-gray-0: #ffffff;
  --color-gray-200: #dddddd;
  --color-gray-500: #707070;
  --color-gray-500-opacity-10: #f7f8f7;
  --color-gray-800: #444444;
  --color-gray-900: #000000;
  --color-dark: #171c1b;
  --color-facebook: #4267b2;
  --transparent-gray-200: rgb(221, 221, 221, 0.5);
  --transparent-gray-800: rgb(68, 68, 68, 0.5);
  --transparent-dark-100: rgb(0, 0, 0, 0.1);
}

.light {
  --color-primary: #fc3bf2;
  --color-primary-disabled: #7d0096;
  --color-primary-opacity: #d400ff8c;
  --color-secondary: #ffdb8a;
  --color-overlay: #14151a;
  --color-overlay-dark: #0a0a0a;
  --color-footer: #171717;
  --color-overlay-border: #111930;
  --color-terciary: #00ff19;
  --color-green-button: #47e439;
  --color-gold: #c4ac6a;
  --color-bronze: #944d24;
  --color-gray-text: #b8b8b8;
  --color-white: white;
  --color-overlay-opacity: rgba(39, 39, 39, 0.514);
  --color-alert-success: #37a211;
  --color-alert-error: #b52423;
  --color-gray-0: #ffffff;
  --color-gray-200: #dddddd;
  --color-gray-500: #707070;
  --color-gray-500-opacity-10: #f7f8f7;
  --color-gray-800: #444444;
  --color-gray-900: #000000;
  --color-dark: #171c1b;
  --color-facebook: #4267b2;
  --transparent-gray-200: rgb(221, 221, 221, 0.5);
  --transparent-gray-800: rgb(68, 68, 68, 0.5);
  --transparent-dark-100: rgb(0, 0, 0, 0.1);
}

.dark {
  --color-primary: #fc3bf2;
  --color-primary-disabled: #7d0096;
  --color-primary-opacity: #d400ff8c;
  --color-secondary: #ffdb8a;
  --color-overlay: #14151a;
  --color-overlay-dark: #0a0a0a;
  --color-footer: #171717;
  --color-overlay-border: #111930;
  --color-terciary: #00ff19;
  --color-green-button: #47e439;
  --color-gold: #c4ac6a;
  --color-bronze: #944d24;
  --color-gray-text: #b8b8b8;
  --color-white: white;
  --color-overlay-opacity: rgba(39, 39, 39, 0.514);
  --color-alert-success: #37a211;
  --color-alert-error: #b52423;
  --color-gray-0: #ffffff;
  --color-gray-200: #dddddd;
  --color-gray-500: #707070;
  --color-gray-500-opacity-10: #f7f8f7;
  --color-gray-800: #444444;
  --color-gray-900: #000000;
  --color-dark: #171c1b;
  --color-facebook: #4267b2;
  --transparent-gray-200: rgb(221, 221, 221, 0.5);
  --transparent-gray-800: rgb(68, 68, 68, 0.5);
  --transparent-dark-100: rgb(0, 0, 0, 0.1);
}

@layer utilities {
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scroll-bar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
